*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
#tmp/**/*

.idea
.DS_Store
.Spotlight-V100
.ruby-gemset
.ruby-version
config/mongoid.yml