development:
  clients:
    default:
      database: stockviewer_development
      hosts:
        - localhost:27017

test:
  clients:
    default:
      database: stockviewer_test
      hosts:
        - localhost:27017